{% load static %}

<!doctype html>
<html lang="en">

{% include 'head.html' %}

<body>

{% include 'header.html' %}

<div class="main-wrapper ">
<section class="page-title bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">О нас</span>
          <h1 class="text-capitalize mb-4 text-lg">Наша компания</h1>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="index.html" class="text-white">Главная</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">О нас</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Section About Start -->
<section class="section about-2 position-relative">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="about-item pr-3 mb-5 mb-lg-0">
					<span class="h6 text-color">Кто мы</span>
					<h2 class="mt-3 mb-4 position-relative content-title">«Эксперт оценка»</h2>
					<p class="mb-5">Динамично развивающаяся компания которая занимается предоставлением услуг по оценке. Опытные специалисты нашей компании имеют все соответствующие лицензии и сертификаты.</p>
					<a href="{% url 'order-online' %}" class="btn btn-main btn-round-full">Заказать онлайн</a>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="about-item-img">
					<img src="{% static 'images/about/home-7.jpg' %}" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Section About End -->
 
<section class="about-info section pt-0">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="about-info-item mb-4 mb-lg-0">
					<h3 class="mb-3"><span class="text-color mr-2 text-md ">01.</span>Our Mission</h3>
					<p>llum similique ducimus accusamus laudantium praesentium, impedit quaerat, itaque maxime sunt deleniti voluptas distinctio .</p>
				</div>		
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="about-info-item mb-4 mb-lg-0">
					<h3 class="mb-3"><span class="text-color mr-2 text-md">02.</span>Vission</h3>
					<p>llum similique ducimus accusamus laudantium praesentium, impedit quaerat, itaque maxime sunt deleniti voluptas distinctio .</p>
				</div>		
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="about-info-item mb-4 mb-lg-0">
					<h3 class="mb-3"><span class="text-color mr-2 text-md">03.</span>Our Approach</h3>
					<p>llum similique ducimus accusamus laudantium praesentium, impedit quaerat, itaque maxime sunt deleniti voluptas distinctio .</p>
				</div>		
			</div>
		</div>
	</div>
</section>

<!-- section Counter Start -->
<section class="section counter bg-counter">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="counter-item text-center mb-5 mb-lg-0">
					<i class="ti-check color-one text-md"></i>
					<h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">1730</span> +</h3>
					<p class="text-white-50">Сделанных работ</p>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="counter-item text-center mb-5 mb-lg-0">
					<i class="ti-flag color-one text-md"></i>
					<h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">4 года</span></h3>
					<p class="text-white-50">На рынке</p>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="counter-item text-center mb-5 mb-lg-0">
					<i class="ti-layers color-one text-md"></i>
					<h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">5</span></h3>
					<p class="text-white-50">Видов оценки</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- section Counter End  -->

<!-- Section Testimonial Start -->
<section class="section testimonial bg-gray">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<span class="h6 text-color">Отзывы клиентов</span>
					<h2 class="mt-3 content-title">Узнайте, что говорят о нас клиенты</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="testimonial-wrap">
			{% for comment in comments %}
			<div class="testimonial-item position-relative">
				<i class="ti-quote-left text-color"></i>

				<div class="testimonial-item-content">
					<p class="testimonial-text">{{ comment.comment }}</p>

					<div class="testimonial-author">
						<h5 class="mb-0 text-capitalize">{{ comment.author }}</h5>
						<p>{{ comment.datetime }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="block text-center">
		<a href="{% url 'comment' %}" target="_blank" class="btn btn-main animated fadeInUp btn-round-full">Оставить отзыв</a>
	</div>
</section>
<!-- Section Testimonial End -->

{% include 'footer.html' %}

</body>
</html>