{% load static %}
<!doctype html>

{% include 'head.html' %}

<body>

{% include 'header.html' %}

<div class="main-wrapper ">
<!-- Slider Start -->
<section class="slider">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-10">
				<div class="block">
					<span class="d-block mb-3 text-white text-capitalize">Эксперт оценка</span>
					<h1 class="animated fadeInUp mb-5">Здесь должна быть<br>очень умная цитата!</h1>
					<a href="{% url 'order-online' %}" target="_blank" class="btn btn-main animated fadeInUp btn-round-full" >Заказать оценку онлайн<i class="btn-icon fa fa-angle-right ml-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Section Intro Start -->

<section class="section intro">
	<div class="container">
		<div class="row ">
			<div class="col-lg-8">
				<div class="section-title">
					<span class="h6 text-color ">Эксперт оценка</span>
					<h2 class="mt-3 content-title">Кратко о компании </h2>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-12">
				<div class="intro-item mb-5 mb-lg-0">
					<i class="ti-desktop color-one"></i>
					<h4 class="mt-4 mb-3">Modern & Responsive design</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, ducimus.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="intro-item mb-5 mb-lg-0">
					<i class="ti-medall color-one"></i>
					<h4 class="mt-4 mb-3">Awarded licensed company</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, ducimus.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="intro-item">
					<i class="ti-layers-alt color-one"></i>
					<h4 class="mt-4 mb-3">Build your website Professionally</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, ducimus.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Section Intro END -->
<!-- Section About Start -->

<section class="section about position-relative">
	<div class="bg-about"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-6 offset-md-0">
				<div class="about-item ">
					<span class="h6 text-color">Эксперт оценка</span>
					<h2 class="mt-3 mb-4 position-relative content-title">Кратко о компании</h2>
					<div class="about-content">
						<h4 class="mb-3 position-relative">ТЕКСТ</h4>
						<p class="mb-5">Мы предоставляем консалтинговые услуги в области МСФО и управленческой отчетности, помогая компаниям достичь самого высокого уровня. Мы оптимизируем бизнес-процессы, делая их проще.</p>
						<div id="more-text-here1"></div>
						<div id="more-text-here2"></div>
						<div id="more-text-here3"></div>
						<a class="btn btn-main btn-round-full" id="ajax-text-me">Показать больше</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Section About End -->

<!--  Section Services Start -->
<section class="section service border-top">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<span class="h6 text-color">Наши преимущества</span>
					<h2 class="mt-3 content-title ">Преимущества </h2>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-heart"></i>
					<h4 class="mb-3">Честность</h4>
					<p></p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-money"></i>
					<h4 class="mb-3">Стоимость</h4>
					<p></p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-lock"></i>
					<h4 class="mb-3">Конфиденциальность</h4>
					<p></p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5 mb-lg-0">
					<i class="ti-star"></i>
					<h4 class="mb-3">Репутация</h4>
					<p></p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5 mb-lg-0">
					<i class="ti-support"></i>
					<h4 class="mb-3">Профессионализм</h4>
					<p></p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5 mb-lg-0">
					<i class="ti-pencil-alt"></i>
					<h4 class="mb-3">Оперативность</h4>
					<p></p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--  Section Services End -->
 <!-- Section Cta Start -->
<section class="section cta">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="cta-item  bg-white p-5 rounded">
					<span class="h6 text-color">Эксперт оценка</span>
					<h2 class="mt-2 mb-4">Здесь будет реклама</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!--  Section Cta End-->
<!-- Section Testimonial Start -->
<section class="section testimonial">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 ">
				<div class="section-title">
					<span class="h6 text-color">Отзывы клиентов</span>
					<h2 class="mt-3 content-title">Узнайте, что говорят о нас клиенты</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row testimonial-wrap" id="comments_data">

		</div>
		<div class="block text-center">
			<a href="{% url 'comment' %}" target="_blank" class="btn btn-main animated fadeInUp btn-round-full">Оставить отзыв</a>
		</div>
        <div class="block text-center">
			<span>Всего коментариев: {{ amount }}</span>
		</div>

	</div>
</section>




{% if user.is_authenticated %}
<!-- Section Testimonial End -->
<section class="section latest-blog bg-2">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<span class="h6 text-color">Последние новости</span>
					<h2 class="mt-3 content-title text-white">Последние статьи для обогащения знаний</h2>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 mb-5">
				<div class="card bg-transparent border-0">
					<img src="{% static 'images/blog/1.jpg' %}" alt="" class="img-fluid rounded">

					<div class="card-body mt-2">
						<div class="blog-item-meta">
							<a href="#" class="text-white-50">Эксперт оценка<span class="ml-2 mr-2">/</span></a>
							<a href="#" class="text-white-50 ml-2"><i class="fa fa-user mr-2"></i>admin</a>
						</div>

						<h3 class="mt-3 mb-5 lh-36"><a href="#" class="text-white ">Новость 1</a></h3>

						<a href="blog-single.html" class="btn btn-small btn-solid-border btn-round-full text-white">Узнать больше</a>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 mb-5">
				<div class="card border-0 bg-transparent">
					<img src="{% static 'images/blog/2.jpg' %}" alt="" class="img-fluid rounded">

					<div class="card-body mt-2">
						<div class="blog-item-meta">
							<a href="#" class="text-white-50">Эксперт оценка<span class="ml-2 mr-2">/</span></a>
							<a href="#" class="text-white-50 ml-2"><i class="fa fa-user mr-2"></i>admin</a>
						</div>

						<h3 class="mt-3 mb-5 lh-36"><a href="#" class="text-white">Новость 2</a></h3>

						<a href="blog-single.html" class="btn btn-small btn-solid-border btn-round-full text-white">Узнать больше</a>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 mb-5">
				<div class="card border-0 bg-transparent">
					<img src="{% static 'images/blog/3.jpg' %}" alt="" class="img-fluid rounded">

					<div class="card-body mt-2">
						<div class="blog-item-meta">
							<a href="#" class="text-white-50">Эксперт оценка<span class="ml-2 mr-2">/</span></a>
							<a href="#" class="text-white-50 ml-2"><i class="fa fa-user mr-2"></i>admin</a>
						</div>

						<h3 class="mt-3 mb-5 lh-36"><a href="#" class="text-white">Новость 3</a></h3>

						<a href="blog-single.html" class="btn btn-small btn-solid-border btn-round-full text-white">Узнать больше</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}

{% include 'footer.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $("#ajax-text-me").click(function() {
            $.ajax({
                type: 'GET',
                async: true,
                url: '/ajax/',
                data: "param1=value1&param2=value2&param3=value3;",
                success: function(data) {
                    $("#more-text-here1").append(data['first-text']);
                    $("#more-text-here2").append(data['second-text']);
                    $("#more-text-here3").append(data['third-text']);

                },
                dataType: 'json',
            });
        });
    });
</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>


<script>
		const url = 'http://127.0.0.1:8001/api/comments/';
		let div = document.querySelector('#comments_data')
        fetch(url)
         .then((res)=>res.json())
         .then((res)=>{
            res.comments.forEach((comment)=>{
                let comment_div = document.createElement('div')
                    comment_div.innerHTML = `

                    <div class="testimonial-item position-relative">
                        <i class="ti-quote-left text-color"></i>

                        <div class="testimonial-item-content">
                            <p class="testimonial-text">${ comment.comment }</p>

                            <div class="testimonial-author">
                                <h5 class="mb-0 text-capitalize">${ comment.author }</h5>

                            </div>
                        </div>
                    </div>
			`;
                    div.appendChild(comment_div)
             })

         })

	</script>

</body>
</html>
