.footer{
 padding-bottom: 10px;

  .copyright{
    a{
      font-weight: 600;
    }
  }
}


.lh-35{
  line-height: 35px;
}


.logo{
  color: $black;
  font-weight: 600;
  letter-spacing: 1px;

  span{
    color: $primary-color;
  }
}

.sub-form{
  position: relative;
  .form-control{
    border: 1px solid rgba(0,0,0,0.06);
    background: $secondary-color;
  }

}

.footer-btm{
  border-top: 1px solid rgba(0,0,0,0.06);
}

.footer-socials{
  li a{
    margin-left: 15px;
  }
}

div.scrollup {
  position: fixed; /* фиксированная позиция */
  color: #fff; /* цвет текста */
  background-color: #286090; /* цвет заднего фона */
  right: 20px; /* расстояние от правого края */
  bottom: 0px; /* расстояние от нижнего края */
  padding: 4px 10px; /* отступы до содержимого блока */
  font-size: 20px; /* размер шрифта (иконки) */
  border-top-left-radius: 4px; /* скругление верхнего левого угла */
  border-top-right-radius: 4px; /* скругление верхнего правого угла */
  cursor: pointer; /* форма курсора */
  display: none; /* не отображать элемент */
  text-align: center; /*выравнивание содержимого элемента по центру */
}
div.scrollup:hover {
  background-color: #000; /* цвет заднего фона при наведении */
}